.app {
  background-color: #f2f4ef;
  height: 100vh;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 800px) {
  :root {
    padding: 0 15%;
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    padding: 0 20%;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    padding: 0 30%;
  }
}
